@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.box2 {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.background-slider {
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  object-fit: cover;
  object-position: top; 
  background-repeat: no-repeat;
  background-color: rgb(54, 42, 164);
   background-size: cover;
  background-position: center;
  z-index: -1;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

.bg1 {
  opacity: 1;
}

.profile img {
  margin: 4px;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  box-shadow: inset 1px 1px 0.2px 0.5px;
  transition: transform 0.3s;
}

.profile img:hover {
  transform: scale(1.1);
}

.box1 {
  margin: 10%;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(209, 178, 93, 0.794);
  border: #000000 solid 2px;
}

a img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  fill: #000;
}
.profile {
  margin-left: -3px;
  margin-bottom: 10px;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  background-image: linear-gradient(to top, #7e7e7e, hsl(0, 1%, 83%), #000000);
}
h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
h2,
h3 {
  margin-bottom: 7px;
}

ol li {
  transition: color 0.3s;
}

ol li:hover {
  color: rgb(29, 109, 0);
  transform: translateX(10px);
}

ul {
  padding-left: 15px;
}